@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format(woff2);
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format(woff2);
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


img {
  max-width: 100%;
  height: auto;
}
.page {
  height: 100%;
  background-color: #F2F2F2;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  color: #333333;
}
.page-body {
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* button */

.button {
  padding: 8px 15px;
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 4px;
}

.button:hover {
  background-color: #68A2CA;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(104, 162, 202, 1);
}

.button:focus:not(:active) {
  background-color: #83B3D3;
  outline: 3px solid #615048;;
  outline-offset: 0;
}

.button-secondary {
  background-color: #756257;
}

.button-secondary:hover {
  background-color: #615048;
}

.button-secondary:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.button-secondary:focus:not(:active) {
  background-color: #615048;
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.button-success {
  background-color: #7DB54F;
}

.button-success:hover {
  background-color: #6C9E42;
}

.button-success:active {
  background-color: #6C9E42;
}

.button-success:focus:not(:active) {
  background-color: #6C9E42;
}

.button-large {
  padding: 15px 0;
  font-size: 20px;
  border-radius: 10px;
}

/* header */

.header-nav {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  padding: 0 72px;
  min-height: 66px;
  gap: 30px;
}

.header-logo {
  position: relative;
  margin-bottom: -10px;
}
.site-menu {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0 ;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  list-style-type: none;

}

.site-menu-item {
  position: relative;
  display: flex;
  align-items: center;
}

.site-menu-item-active::before {
  content: "";
  position: absolute;
  height: 2px;
  left: 17px;
  right: 17px;
  bottom: 0;
  background-color: #756257;

}
.site-menu-link {
  display: block;
  padding: 20px 17px;
  color: #000000;
  text-decoration: none;
}

.site-menu-link[href]:hover {
  color: #756257;
}
.additionally-menu {
  max-width: 320px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;

}
.site-menu-link[href]:active {
  color: #756257;
  opacity: 0.3;
}

.additional-menu-button {
  margin-left: 20px;
  min-width: 160px;
}
.button-icon {
  position: relative;
  display: grid;
  width: 42px;
  height: 42px;
  align-content: center;
  justify-content: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  fill: #000000;
}

.button-icon:hover {
  fill: #756257;
}

.button-icon:active {
  fill: rgba(117, 98, 87, 0.3);
}
.button-icon-control {
  position: absolute;
  border-radius: 50%;
  padding: 3px 4px;
  top: 4px;
  left: 24px;
text-align: center;
  background-color: #7DB54F;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
}

.button-icon[href]:active .button-icon-control {
  color: rgba(255, 255, 255, 0.3);
}
/* main */

.main-container {
  flex-grow: 1;
  }

  .main-promo {
    min-height: 485px;
    background-color: #83B3D3;
    background-repeat: no-repeat;
background-position:  50% calc(50% - 16px),
                      50% 100%,
                      50% 50%;
background-size:
    auto auto,
    100% auto,
    cover;
background-image:
    url(../images/welcome\ .svg),
    url(../images/icon/divider\ \(1\).svg),
    url(../images/background/promo.jpg);
  }


  .main-header {
    padding: 35px 72px 83px;
    color: #ffffff;
    background-color: #83B3D3;

    background-size: cover;
    background-image:
        url(../images/background/main-header.jpg);
  }

  .main-heading {
    margin: 0;
    font-size: 60px;
    line-height: 78px;
  }

  /* section */

.section-title {
  margin: 0;
  margin-bottom: 36px;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-description {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
}


/* advantages */

.advantages {
  text-align: center;
}
.advantages-content {
  padding: 63px 240px 80px;
}
.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: advantages;
}




.advantages-item {
  display: grid;
  gap: 30px;
min-height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
  counter-increment: advantages;
}


.advantages-item-large {
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1/-1;
  gap: 0;
  padding: 0;
  color: #ffffff;
  background-color: #83B3D3;
}

.advantages-item:not(.advantages-item-large):nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}
.advantages-description {
  display: grid;
  align-self: start;
  gap: 30px;
  min-height: 384px;
  padding: 97px 75px 87px
}

.advantages-description::before {
  content: "- №" counter(advantages) " -";
}

.advantages-inner-item:nth-child(even) {
  background-color: #ffffff;
}

.advantages-img {
  grid-column: span 2;
  width: 100%;
  height: 0;
  min-height: 100%;
  object-fit: cover;
}

.advantages-item-large:nth-child(2) .advantages-img{
  order: -1;
}
.advantages-title {
margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item-large
.advantages-title {
  color: #ffffff;
}

.advantages-inner-item .advantages-title {
  color: #000000;
}

.advantages-description .advantages-title {
  order: -2;
}
.advantages-inner-item-house {
background-image: url(../images/icon/house.svg);

}
.advantages-inner-item-food {
  background-image: url(../images/icon/food.svg);

}

.advantages-inner-item-present {
  background-image: url(../images/icon/present\ .svg);
}


.advantages-list-inner {
  grid-column: 1/-1;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  margin: 0;
  padding: 0;
  color: #333333;
  background-color: #ffffff;
  list-style: none;

}

.advantages-inner-item {
  display: grid;

  align-content: start;
  gap: 20px;
  min-height: 384px;
  padding: 75px;
  padding-top: 184px;
  background-repeat: no-repeat;
  background-size: 76px 76px;
  background-position: 50% 84px;
  background-color: rgba(131, 179, 211, 0.12);
}


.advantages-text {
  margin: 0;
  line-height: 21px;
}
/* search */

.search {
  padding: 91px 240px 93px;
  text-align: center;
}

.search-button {
  width: 575px;
  margin-top: 56px;

}
/* subscribe */

.subscribe {
  padding: 43px 200px 141px;
  text-align: center;
}

.subscribe .section-title {
  margin-bottom: 48px;;
}
.subscribe-form {
  display: grid;
  grid-template-columns: 1fr 200px;
  margin-top: 46px;
}
.subscribe-primary .section-title {
  color: #ffffff;
}

.subscribe-primary {
  color: #ffffff;
  background-color: #83B3D3;
  background-image: url(../images/background/subscription.jpg);
  background-size: cover;
}

/* breadcrumbs */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
  font-size: 16px;

  list-style-type: none;
}
.breadcrumbs-item + .breadcrumbs-item {
  position: relative;
  margin-left: 10px;
}

.breadcrumbs-item + .breadcrumbs-item::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 8px;
  left: -7px;
  top: calc(50% - 4px);
  background-image: url(../images/icon/chevron-right.svg)
}

.breadcrumbs-link {
  display: flex;
  padding: 3px 8px;
  border-radius: 4px;
}

.breadcrumbs-link[href]:hover {
  opacity: 0.6;
}

.breadcrumbs-link[href]:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus:not(:active) {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}
.breadcrumbs-link-home {
  width: 28px;
  height: 27px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../images/icon/home\ .svg);
}
/* form */
.field {
  display: flex;
}

.field-input {
  position: relative;
  width: 100%;
  font-family: inherit;
  font-size: 18px;
  background-color: #F2F2F2;
  border: 1px solid transparent;
  padding: 0 22px  0 19px;
  border-radius: 4px;
}


.search-form-data .field-input {

  background-position: right 17px top 50%;
  background-repeat: no-repeat;
  background-image: url(../images/icon/date.svg)
}
.subscribe-field .field-input{
  border-radius: 10px 0 0 10px;
}

.subscribe-button {
  border-radius: 0 10px 10px 0;
}

.field-input:hover {
  background-color: #E6E6E6;

}
.field-input:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3 ;
  outline-offset: 0;
}

.search-form-data .field-input:active {
  border: 2px solid #000000;
  background-color: #ffffff;
  outline: none;

}
/* range */

.range {
  margin-top: 34px;
}

.range-fields {
  display: grid;
  grid-template-columns: 1fr 2px 1fr;
}

.range-fields::before {
  position: relative;
  content: "";
  width: 2px;
  background-color: #FFFFFF;
}

.range-fields:hover::before {
  opacity: 0.6;
}

.range-fields:focus::before {
  opacity: 1;
}



.range-field {
  display: grid;
  grid-template-columns: 1fr 44px;
}

.range-field:first-child {
  order: -1;
}
.range-input {
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1/2;
  height: 48px;
  padding: 10px 18px;
  padding-right: 50px;
  font-family: inherit;
  font-size: 18px;
  color: #ffffff;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  background-color: transparent;
  outline: none;
}

.range-input::-webkit-inner-spin-button,
.range-input::-webkit-outer-spin-button {
  appearance: none;
}
.range-input:hover,
.range-input:focus,
.range-input {
  appearance: textfield;
}

.range-field:first-child .range-input {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.range-field:nth-of-type(2) .range-input {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.range-input:hover {
  border-color: rgba(255, 255, 255, 0.6)
}

.range-input:focus {
  outline: 3px solid #81B3D2;
  border-color: #ffffff;
  box-shadow: 0px 0px 0px 3px #81B3D2; ;
}

.range-input:not(:placeholder-shown):focus {
  background-color: #756257;
  border-color: #ffffff;
  outline: none;
  box-shadow: none;
}

.range-title {
  grid-column: -2/-1;
  grid-row: 1/2;
  opacity: 0.3;
  align-self: center;
}


.range-slider {
  margin-top: 32px;
}

.slider {
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}
.slider-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background-color: #ffffff;

}

.slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: none;
}

.slider-thumb:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25)
}

.slider-thumb:focus {
  outline: 3px solid #83B3D3;

}

.slider-thumb:active {
  outline-width: 2px;
  box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.40);
}
/* filter */

.filter-form {
  display: grid;
  grid-template-columns: 200px 200px 1fr 221px;
  gap: 17px;
}

.filter-list {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style-type: none;
}

.filter-fieldset {
  margin: 0;
  padding: 0;
  border: none;

}

.control {
  position: relative;
}

.control-input {
  position: absolute;
  opacity: 0;
}

.control-label {
  padding-left: 41px;
}
.control-input + .control-label::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 2px;
  left: 0;
  border-radius: 4px;
  background-color: #ffffff;
}

.control-input[type="checkbox"]:checked + .control-label::before {
  position: absolute;
  content: "";
  background-image: url(../images/icon/check.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;

}
.control-input[type="checkbox"]:hover + .control-label::before {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-input[type="checkbox"]:focus + .control-label::before {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83B3D3
}

.control-input[type="checkbox"]:active + .control-label::before {
  background-color: rgba(255, 255, 255, 0.3);
}


.control-input[type="radio"] + .control-label::before {

  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-label::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  left: 5px;
  top: 7px;
  background-color: #3f5e72;
  border-radius: 50%;


}

.control-input[type="radio"]:focus + .control-label::before {
  outline: 3px solid #83B3D3;
}


.filter-fieldset-price {
  margin-left: 96px;
}

.filter-reset {
  margin-top: 20px;
  padding: 4px 10px 5px;
  color: #ffffff;
  font-family: inherit;
  font-size: 18px;
  background-color: transparent;
  align-self: center;
  border: none;

}

.filter-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.filter-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.filter-reset:focus:not(:action) {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
  outline-offset: -3px;
}
.filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.filter-item + .filter-item {
  margin-top: 13px;

}
.filter-buttons {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  margin-top: 60px;

}

.filter-submit {
  min-height: 48px;
}

/* Catalog */

.catalog {
  padding: 0 72px;

}

.catalog-sort {
  display: flex;
  align-items: center;
  padding: 44px 0 53px;
}

.catalog-title {
  margin: 0;
  width: 50%;
}

.catalog-select {
  width: 287px;
  margin-right: auto;
}

/* view */
.view {
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.view-item {
  margin: 0 4px;
}
.view-link {
  display: block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 4px;
  border: 2px solid #E6E6E6;
}

.view-link-cards {
  background-image: url(../images/icon/cards.svg);

}

.view-link-slides {
  background-image: url(../images/icon/slides.svg);
}

.view-link-list {
  background-image: url(../images/icon/list.svg);

}

.view-link[href]:hover {
  border-color: #83B3D3;

}

.view-link[href]:active {
  border-color: #000000;
}

.view-link:focus {
  outline: none;
  border-color: #83B3D3;

}
.view-item-active .view-link {
  border-color: #000000;
}
/* card */


.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px 10px;
  padding: 0 0 34px;
}
.card {
  display: grid;
  grid-template-columns: 1fr 26px 1fr;
  grid-template-rows: 206px;
  grid-template-areas: "image image image"
                       "title title title"
                       "description description description"
                       "button-more . button-chosen"
                       "stars rate rate";
                       row-gap: 16px;
  padding: 20px;
}

.card-img {
  width: 100%;
  height: 100%;
  grid-area: image;
  object-fit: cover;
}

.card-link {
  grid-area: title;

  color: #000000;
  text-decoration: none;
}
.card-link + .card-img:hover {
  opacity: 0.6;
}

.card-link + .card-img:active {
  opacity: 0.3;
}

.card-link + .card-img:focus:not(:active) {
  border: 3px solid #83B3D3;

}
.card-title {

  margin: 0;
  font-size: 24px;
  line-height: 31px;
}

.card-link {
  color: #000000;
  text-decoration: none;
}

.card-description {
  grid-area: description;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  margin: 0;
}

.card-chosen {
  grid-area: button-chosen;

}

.card-more {
  grid-area: button-more;
}
.card-rate {
  grid-area: rate;
  font-size: 16px;
  min-width: 160px;
  justify-self: end;
  margin: 0;
  padding: 9px 0 10px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
  text-align: center;
}

.card-rate {
  grid-area: rate;
  margin: 0;
}

.card-star {
  grid-area: stars;
  align-self: start;
}

.star {
  width: 24px;
  min-height: 37px;
  margin: 0;
  background-repeat: repeat-x;
  background-position: 0 50%;
  background-size: 24px 17px;
  background-image: url(../images/icon/star.svg);
}

.star-two {
  width: 48px;
}

.star-three {
  width: 72px;
}


.star-four {
  width: 96px;
}
/* pagination */

.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  border-top: 1px solid #F2F2F2;
}

.pagination-button {
  min-width: 620px;
  padding: 17px 0;
}
.pagination-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #F2F2F2;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.pagination-item {
  margin: 0 4px;
}


.pagination-select {
  display: flex;
  align-items: center;
}

.pagination-select .select-control {
  min-width: 160px;
}
/* select */

.select {

  position: relative;
  display: flex;
  align-items: center;
  width: 287px;
  margin-right: auo;
}

.select-control {
  width: 100%;
  padding: 12px 19px;
  padding-right: 68px;

  border: 2px solid #E6E6E6;
  border-radius: 4px;

  font-size: 18px;
  color: #333333;
  appearance: none;
  background-image: url(../images/icon/dropdown\ 1.svg);
  background-repeat: no-repeat;
  background-position: right 21px center;


}



.select-control:hover:not(:active) {
  border: 2px solid #83B3D3;
}

.select-control:active {
  color: rgba(51, 51, 51, 0.3);
  outline: none;
  border-color: rgba(230, 230, 230, 1) ;

}

.select-control:focus:not(:active) {
  border-color: #83B3D3;
  outline: none;
}






.select-label {

  margin: 0;
  margin-right: 51px;
  flex-shrink: 0;

}
.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  color: #ffffff;
  background-color: #83B3D3;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-link[href]:hover {
  background-color: #68A2CA;
}

.pagination-link[href]:active {
  background-color: #E6E6E6;
  outline: none;
  color: #000000;
}

.pagination-link:focus:not(:active) {
  outline: 3px solid #615048;
  outline-offset: 0;
}
/* footer */
.page-footer {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  gap: 30px;
  align-items: center;
  padding: 40px 72px 30px;
}

.footer-social {

  margin: 0;
  align-items: center;
  margin-top: -5px;

}

.social-item {
  margin: 2px;
}
.social-link {
  display: grid;
  width: 40px;
  height: 40px;
  place-content: center;
  border-radius: 10px;
  fill: #83B3D3;
}

.social-link:hover {
  fill: #68A2CA;
}

.social-link:active {
  opacity: 0.3;
}
.social-link:focus:not(:active) {
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.footer-phone {
  color: #000000;
  padding: 15px;
justify-content: center;
  font-size: 40px;
  line-height: 40px;
  border-radius: 10px;
  text-decoration: none;
}

.footer-phone:hover {
  color: #756257;
}

.footer-phone:active {

  opacity: 0.3;
}

.footer-phone:focus:not(:active) {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}
.footer-developer {
  display: block;
  justify-self: end;
  padding: 10px;
  border-radius: 10px;

}

.footer-developer:hover {
  fill: #756257;
}

.footer-developer:active {
  fill: #756257;
  opacity: 0.3;
}

.footer-developer:focus:not(:active) {
  fill: #756257;
  outline: 3px solid #83B3D3;
  outline-offset: 3px;
}
/* social */

.social {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;

}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-content: center;
  justify-content: center;
  background-color: rgba(242, 242, 242, 0.80);
}

.modal-content {
  grid-column: 1 / -1;
}
.modal-container {
  display: grid;
  grid-template-columns: 1fr min-content;
  row-gap: 54px;
  width: 715px;
  padding: 70px;
  padding-top: 54px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.15);


}

.modal-title {
  align-self: center;
  margin: 0;
}

.modal-close {
  width: 53px;
  height: 53px;
  padding: 0;
  border-radius: 50%;
  border: none;
}

.modal-close::after {
  content: "";
  width: 53px;
  height: 53px;
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(../images/icon/modal-close.svg);
}

.modal-close:hover {
  background-color: #E6E6E6;
}
.search-form {
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-rows: 50px 50px 50px 60px;
  row-gap: 40px;
}


.field-search {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-rows: 50px;
  column-gap: 15px;
  row-gap: 4px;

}

.field-search .field-input {
  font-weight: 700;
}
.field-message {
  grid-column: 2/-1;
  font-size: 16px;
}

.field-message-error {
  color: #FF5757;
}

.search-form-data {
  grid-column: 1/-1;
}


.search-form-button {
  grid-column: 1 / -1;
}

.field-search .field-title {
  align-self: center;
  font-weight: 700;
}

.field-title-info {
  display: flex;
  margin-left: 25px;
  justify-content: end;
}

.field-info {
  position: relative;
  margin-left: 10px;
  margin-right: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #83B3D3;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(../images/icon/info\ 2.svg);

}


.field-text-info {
  position: absolute;
  top: calc(100% + 15px);
  left: calc(50% - 128px);
  width: 256px;
  padding: 15px 18px 18px 22px;
  background-color: #333333;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.30);
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  z-index: 1;
  display: none;



}

.field-text-info::before {
  content: "";
  position: absolute;
  top: -9px;
  width: 19px;
  height: 9px;
  left: calc(50% - 9px);
  background-repeat: no-repeat;
  background-image: url(../images/icon/triangle.svg);
}

.field-text-info::after {
  position: absolute;
  left: 0;
  right: 0;
  height: 25px;
  top: -25px;
}

.field-info:hover .field-text-info {
  display: block;
}
.number {
  position: relative;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  min-width: 133px;
}

.number-input {
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  padding: 0 50px;
  text-align: center;
  appearance: none;
}

.number-input::-webkit-inner-spin-button,
.number-input::-webkit-file-upload-button {
  -webkit-appearance: none;
}

.number-button {
  position: relative;
  border: none;
  z-index: 1;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-row: 1 / 2;
  background-color: transparent;
}

.number-button::after {
  content: "";
  width: 25px;
  height: 25px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0.3;
  border-radius: 4px;
}


.number-button-minus {
  grid-column: 1 / 2;
}

.number-button-minus::after {
  background-image: url(../images/icon/minus.svg);
}

.number-button-plus {
  grid-column: -2 / -1;
}



.number-button-plus::after {
  background-image: url(../images/icon/plus.svg );
}

.number-button:hover::after {
  opacity: 1;
}

.number-button:active::after {
  opacity: 0.2;
}

.number-button:focus {
  outline: none;
}

.number-button:focus:not(:active)::after {
  outline: 3px solid #83B3D3;
  opacity: 1;
  outline-offset: -3px;
}
