@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format(woff2);
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format(woff2);
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


img {
  max-width: 100%;
  height: auto;
}
.page {
  height: 100%;
  background-color: #F2F2F2;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  color: #333333;
}
.page-body {
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* button */

.button {
  padding: 8px 15px;
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 4px;
}

.button:hover {
  background-color: #68A2CA;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(104, 162, 202, 1);
}

.button:focus:not(:active) {
  background-color: #83B3D3;
  outline: 3px solid #615048;;
  outline-offset: 0;
}

.button-secondary {
  background-color: #756257;
}

.button-secondary:hover {
  background-color: #615048;
}

.button-secondary:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
}

.button-secondary:focus:not(:active) {
  background-color: #615048;
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.button-success {
  background-color: #7DB54F;
}

.button-success:hover {
  background-color: #6C9E42;
}

.button-success:active {
  background-color: #6C9E42;
}

.button-success:focus:not(:active) {
  background-color: #6C9E42;
}

.button-large {
  padding: 15px 0;
  font-size: 20px;
  border-radius: 10px;
}

/* header */

.header-nav {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  padding: 0 72px;
  min-height: 66px;
  gap: 30px;
}

.header-logo {
  position: relative;
  margin-bottom: -10px;
}
.site-menu {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0 ;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  list-style-type: none;

}

.site-menu-item {
  position: relative;
  display: flex;
  align-items: center;
}

.site-menu-item-active::before {
  content: "";
  position: absolute;
  height: 2px;
  left: 17px;
  right: 17px;
  bottom: 0;
  background-color: #756257;

}
.site-menu-link {
  display: block;
  padding: 20px 17px;
  color: #000000;
  text-decoration: none;
}

.site-menu-link[href]:hover {
  color: #756257;
}
.additionally-menu {
  max-width: 320px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;

}
.site-menu-link[href]:active {
  color: #756257;
  opacity: 0.3;
}

.additional-menu-button {
  margin-left: 20px;
  min-width: 160px;
}
.button-icon {
  position: relative;
  display: grid;
  width: 42px;
  height: 42px;
  align-content: center;
  justify-content: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  fill: #000000;
}

.button-icon:hover {
  fill: #756257;
}

.button-icon:active {
  fill: rgba(117, 98, 87, 0.3);
}
.button-icon-control {
  position: absolute;
  border-radius: 50%;
  padding: 3px 4px;
  top: 4px;
  left: 24px;
text-align: center;
  background-color: #7DB54F;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
}

.button-icon[href]:active .button-icon-control {
  color: rgba(255, 255, 255, 0.3);
}
/* main */

.main-container {
  flex-grow: 1;
  }

  .main-promo {
    min-height: 485px;
    background-color: #83B3D3;
    background-repeat: no-repeat;
background-position:  50% calc(50% - 16px),
                      50% 100%,
                      50% 50%;
background-size:
    auto auto,
    100% auto,
    cover;
background-image:
    url(../images/welcome\ .svg),
    url(../images/icon/divider\ \(1\).svg),
    url(../images/background/promo.jpg);
  }


  .main-header {
    padding: 35px 72px 83px;
    color: #ffffff;
    background-color: #83B3D3;

    background-size: cover;
    background-image:
        url(../images/background/main-header.jpg);
  }

  .main-heading {
    margin: 0;
    font-size: 60px;
    line-height: 78px;
  }

  /* section */

.section-title {
  margin: 0;
  margin-bottom: 29px;
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-description {
  margin: 0;

  font-size: 22px;
  line-height: 26px;
}


/* advantages */

.advantages {
  text-align: center;
}
.advantages-content {
  padding: 63px 240px 80px;
}
.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style-type: none;
  counter-reset: advantages;
}




.advantages-item {
  display: grid;
  gap: 30px;
min-height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
  counter-increment: advantages;
}


.advantages-item-large {
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1/-1;
  gap: 0;
  padding: 0;
  color: #ffffff;
  background-color: #83B3D3;
}

.advantages-item:not(.advantages-item-large):nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}
.advantages-description {
  display: grid;
  align-self: start;
  gap: 30px;
  min-height: 384px;
  padding: 97px 75px 87px
}

.advantages-description::before {
  content: "- №" counter(advantages) " -";
}

.advantages-inner-item:nth-child(even) {
  background-color: #ffffff;
}

.advantages-img {
  grid-column: span 2;
  width: 100%;
  height: 0;
  min-height: 100%;
  object-fit: cover;
}

.advantages-item-large:nth-child(2) .advantages-img{
  order: -1;
}
.advantages-title {
margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item-large
.advantages-title {
  color: #ffffff;
}

.advantages-inner-item .advantages-title {
  color: #000000;
}

.advantages-description .advantages-title {
  order: -2;
}
.advantages-inner-item-house {
background-image: url(../images/icon/house.svg);

}
.advantages-inner-item-food {
  background-image: url(../images/icon/food.svg);

}

.advantages-inner-item-present {
  background-image: url(../images/icon/present\ .svg);
}


.advantages-list-inner {
  grid-column: 1/-1;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  margin: 0;
  padding: 0;
  color: #333333;
  background-color: #ffffff;
  list-style: none;

}

.advantages-inner-item {
  display: grid;

  align-content: start;
  gap: 20px;
  min-height: 384px;
  padding: 75px;
  padding-top: 184px;
  background-repeat: no-repeat;
  background-size: 76px 76px;
  background-position: 50% 84px;
  background-color: rgba(131, 179, 211, 0.12);
}


.advantages-text {
  margin: 0;
  line-height: 21px;
}
/* search */

.search {
  padding: 91px 240px 93px;
  text-align: center;
}

.search-button {
  width: 575px;
  margin-top: 56px;

}
/* subscribe */

.subscribe {
  padding: 43px 200px 141px;
  text-align: center;
}

.subscribe .section-title {
  margin-bottom: 48px;;
}
.subscribe-form {
  display: grid;
  grid-template-columns: 1fr 200px;
  margin-top: 46px;
}
.subscribe-primary .section-title {
  color: #ffffff;
}

.subscribe-primary {
  color: #ffffff;
  background-color: #83B3D3;
  background-image: url(../images/background/subscription.jpg);
  background-size: cover;
}

/* breadcrumbs */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
  font-size: 16px;

  list-style-type: none;
}
.breadcrumbs-item + .breadcrumbs-item {
  position: relative;
  margin-left: 10px;
}

.breadcrumbs-item + .breadcrumbs-item::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 8px;
  left: -7px;
  top: calc(50% - 4px);
  background-image: url(../images/icon/chevron-right.svg)
}

.breadcrumbs-link {
  display: flex;
  padding: 3px 8px;
  border-radius: 4px;
}

.breadcrumbs-link[href]:hover {
  opacity: 0.6;
}

.breadcrumbs-link[href]:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus:not(:active) {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}
.breadcrumbs-link-home {
  width: 28px;
  height: 27px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../images/icon/home\ .svg);
}
/* form */
.field {
  display: flex;
}

.field-input {
  width: 100%;
  font-family: inherit;
  font-size: 18px;
  background-color: #F2F2F2;
  border: 1px solid transparent;
  padding: 0 22px  0 19px;
}

.subscribe-field .field-input{
  border-radius: 10px 0 0 10px;
}

.subscribe-button {
  border-radius: 0 10px 10px 0;
}

.field-input:hover {
  background-color: #E6E6E6;

}
.field-input:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3 ;
  outline-offset: 0;
}
/* range */

.range {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.range-field {
  display: grid;
  grid-template-columns: 1fr 44px;
}
.range-input {
  grid-column: 1/-1;
  grid-row: 1/2;
  font-family: inherit;
  font-size: 18px;
  color: #ffffff;
  background-color: transparent;
}
.range-title {
  grid-column: -2/-1;
  grid-row: 1/2;
  opacity: 0.3;
}

/* filter */

.filter-form {
  display: grid;
  grid-template-columns: 200px 200px 1fr 223px;
  gap: 17px;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-fieldset {
  margin: 0;
  padding: 0;
}

.filter-fieldset-price {
  margin-left: 96px;
}

.filter-reset {
  color: #ffffff;
  font-family: inherit;
  font-size: 18px;
  background-color: transparent;
  align-self: center;
}

.filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}

/* Catalog */

.catalog {
  padding: 0 72px;

}

.catalog-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 0 53px;
}

.catalog-title {
  margin: 0;
  width: 50%;
}

.catalog-select {
  width: 287px;
  margin-right: auto;
}

/* view */
.view {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.view-item {
  margin: 0 4px;
}
.view-link {
  display: block;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 4px;
  border: 2px solid #E6E6E6;
}

.view-link-cards {
  background-image: url(../images/icon/cards.svg);

}

.view-link-slides {
  background-image: url(../images/icon/slides.svg);
}

.view-link-list {
  background-image: url(../images/icon/list.svg);

}

.view-link[href]:hover {
  border-color: #83B3D3;

}

.view-link[href]:active {
  border-color: #000000;
}

.view-link:focus {
  outline: none;
  border-color: #83B3D3;

}
.view-item-active .view-link {
  border-color: #000000;
}
/* card */


.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 18px 10px;
  padding: 0 0 34px;
}
.card {
  display: grid;
  grid-template-columns: 1fr 26px 1fr;
  grid-template-rows: 206px;
  grid-template-areas: "image image image"
                       "title title title"
                       "description description description"
                       "button-more . button-chosen"
                       "stars rate rate";
                       row-gap: 16px;
  padding: 20px;
}

.card-img {
  width: 100%;
  height: 100%;
  grid-area: image;
  object-fit: cover;
}

.card-link {
  grid-area: title;

  color: #000000;
  text-decoration: none;
}
.card-link + .card-img:hover {
  opacity: 0.6;
}

.card-link + .card-img:active {
  opacity: 0.3;
}

.card-link + .card-img:focus:not(:active) {
  border: 3px solid #83B3D3;

}
.card-title {

  margin: 0;
  font-size: 24px;
  line-height: 31px;
}

.card-link {
  color: #000000;
  text-decoration: none;
}

.card-description {
  grid-area: description;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 26px;
  margin: 0;
}

.card-chosen {
  grid-area: button-chosen;

}

.card-more {
  grid-area: button-more;
}
.card-rate {
  grid-area: rate;
  font-size: 16px;
  min-width: 160px;
  justify-self: end;
  margin: 0;
  padding: 9px 0 10px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
  text-align: center;
}

.card-rate {
  grid-area: rate;
  margin: 0;
}

.card-star {
  grid-area: stars;
  align-self: start;
}

.star {
  width: 24px;
  min-height: 37px;
  margin: 0;
  background-repeat: repeat-x;
  background-position: 0 50%;
  background-size: 24px 17px;
  background-image: url(../images/icon/star.svg);
}

.star-two {
  width: 48px;
}

.star-three {
  width: 72px;
}


.star-four {
  width: 96px;
}
/* pagination */

.pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  border-top: 1px solid #F2F2F2;
}

.pagination-button {
  min-width: 620px;
  padding: 17px 0;
}
.pagination-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #F2F2F2;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.pagination-item {
  margin: 0 4px;
}


.pagination-select {
  display: flex;
  align-items: center;
}

/* select */

.select {
  position: relative;

}

.select-button {
  display: grid;
  grid-template-columns: 1fr 50px;
  padding: 12px 19px;
  padding-right: 0;
  border: 2px solid #E6E6E6;
  border-radius: 4px;

  font-size: 18px;
  color: #333333;
}

.select-button:hover:not(:active) {
  border: 2px solid #83B3D3;
}

.select-button:active {
  color: rgba(51, 51, 51, 0.3);
}

.select-button:focus:not(:active) {
  outline: none;
  border-color: #83B3D3;
}
.select-button::after {
  content: "";
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../images/icon/dropdown\ 1.svg);
}

.select[open] .select-button::after {
  transform: rotate(180deg);
}

.select-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 10px 0;
  list-style-type: none;

  border-radius: 4px;
  border: 2px solid #E6E6E6;
  background-color: #FFFFFF;
}

.select-item-active {
  background-color: #E6E6E6;
}
.select-option {
  display: block;
  padding: 8px 19px;
  text-decoration: none;
  color: #333333;
}

.select-option:hover {
  background-color: #F2F2F2;
}

.select-item-active .select-option:hover {
  background-color: transparent;
}
.select-option:active {
  color: rgba(51, 51, 51, 0.3);
  background-color: #f2f2f2;
}
.select-label {
  margin: 0;
  margin-right: 51px;
}
.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  color: #ffffff;
  background-color: #83B3D3;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-link[href]:hover {
  background-color: #68A2CA;
}

.pagination-link[href]:active {
  background-color: #E6E6E6;
  outline: none;
  color: #000000;
}

.pagination-link:focus:not(:active) {
  outline: 3px solid #615048;
  outline-offset: 0;
}
/* footer */
.page-footer {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  gap: 30px;
  align-items: center;
  padding: 40px 72px 30px;
}

.footer-social {

  margin: 0;
  align-items: center;
  margin-top: -5px;

}

.social-item {
  margin: 2px;
}
.social-link {
  display: grid;
  width: 40px;
  height: 40px;
  place-content: center;
  border-radius: 10px;
  fill: #83B3D3;
}

.social-link:hover {
  fill: #68A2CA;
}

.social-link:active {
  opacity: 0.3;
}
.social-link:focus:not(:active) {
  outline: 3px solid #83B3D3;
  outline-offset: 0;
}

.footer-phone {
  color: #000000;
  padding: 15px;
justify-content: center;
  font-size: 40px;
  line-height: 40px;
  border-radius: 10px;
  text-decoration: none;
}

.footer-phone:hover {
  color: #756257;
}

.footer-phone:active {

  opacity: 0.3;
}

.footer-phone:focus:not(:active) {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}
.footer-developer {
  display: block;
  justify-self: end;
  padding: 10px;
  border-radius: 10px;

}

.footer-developer:hover {
  fill: #756257;
}

.footer-developer:active {
  fill: #756257;
  opacity: 0.3;
}

.footer-developer:focus:not(:active) {
  fill: #756257;
  outline: 3px solid #83B3D3;
  outline-offset: 3px;
}
/* social */

.social {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;

}
