@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format(woff2);
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format(woff2);
  font-display: swap;
}
.page {
  height: 100%;
  background-color: #F2F2F2;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  color: #333333;
}
.page-body {
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* button */

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}
.button-secondary {
  background-color: #756257;
}
.button-large {
  font-size: 20px;
}

/* header */

.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 72px;
}

.header-logo {
  display: block;
  margin-right: 30px;
}
.site-menu {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0 30px;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  list-style-type: none;

}

.site-menu-item {
  display: flex;
  align-items: center;
}
.site-menu-link {
  display: block;
  padding: 20px 17px;
  color: #000000;
  text-decoration: none;
}

.additionally-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

.additional-menu-button {
  margin-left: 20px;
}
.button-icon {
  min-width: 42px;
  min-height: 66px;
  padding: 2;
}
/* main */

.main-container {
  flex-grow: 1;
  }

  .main-promo {
    min-height: 485px;
    background-color: #83B3D3;
    background-image: url(../images/background/promo.jpg);
  }


  .main-header {
    padding: 35px 72px 83px;
    color: #ffffff;
    background-color: #83B3D3;
    background-image: url(../images/background/main-header.jpg);
    background-size: cover;
  }

  .main-heading {
    margin: 0;
    font-size: 60px;
    line-height: 78px;
  }

  /* section */

.section-title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
}


/* advantages */

.advantages {
  text-align: center;
}
.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-list-inner {
  color: #333333;
  background-color: #ffffff;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:not(.advantages-item-large):nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-large {
  color: #ffffff;
  background-color: #83B3D3;
}

.advantages-list-inner .advantages-item:nth-child(even) {
  background-color: #ffffff;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item-large>.advantages-title {
  color: #ffffff;
}

.advantages-text {
  line-height: 21px;
}

/* search */

.search {
  text-align: center;
}

/* subscribe */

.subscribe {
  text-align: center;
}

.subscribe-primary .section-title {
  color: #ffffff;
}

.subscribe-primary {
  color: #ffffff;
  background-color: #83B3D3;
  background-image: url(../images/background/subscription.jpg);
  background-size: cover;
}

/* breadcrumbs */

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
  font-size: 16px;

  list-style-type: none;
}



/* form */

.field-input {
  font-family: inherit;
  font-size: 18px;
  background-color: #F2F2F2;
}

/* range */

.range-input {
  font-family: inherit;
  font-size: 18px;
  color: #ffffff;
  background-color: transparent;
}
.range-title {
  opacity: 0.3;
}

/* filter */

.filter-form {
  display: flex;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-fieldset {
  width: 200px;
  margin: 0;
  padding: 0;
  margin-right: 17px;
}

.filter-fieldset-price {
  width: 287px;
  margin-left: 95px;
}

.filter-reset {
  color: #ffffff;
  font-family: inherit;
  font-size: 18px;
  background-color: transparent;
  align-self: center;
}

.filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  width: 160px;
  margin-left: 64px;
}

/* Catalog */

.catalog {
  padding: 0 72px;

}

.catalog-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 0;
}

.catalog-title {
  margin: 0;
  width: 50%;
}

.catalog-select {
  width: 287px;
  margin-right: auto;
}

/* view */
.view {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.view-item {
  margin: 0 4px;
}
.view-link {
  display: block;
  width: 48px;
  height: 48px;

}
/* card */

.card-title {
  font-size: 24px;
  line-height: 31px;
}

.card-link {
  color: #000000;
  text-decoration: none;
}

.card-rate {
  font-size: 16px;
  text-transform: uppercase;
}

/* pagination */

.pagination-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.pagination-item {
  margin: 0 4px;
}

.pagination-select {
  display: flex;
}

.select-label {
  margin: 0;
  margin-right: 51px;
}
.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  color: #ffffff;
  background-color: #83B3D3;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

/* footer */
.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 72px;
}

.footer-social {

  margin: 0;

}

.social-item {
  margin: 0 2px;
}
.social-link {
  display: block;
  width: 40px;
  height: 40px;
}
.footer-phone {
  color: #000000;

  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

/* social */

.social {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;

}
